{% for author in site.authors %}
    {% if author.github == page.author %}
        <img class="avatar avatar-small" src="https://avatars3.githubusercontent.com/{{ author.github }}?v=3&amp;s=40" alt="{{ author.name }}" srcset="https://avatars3.githubusercontent.com/{{ author.github }}?v=3&amp;s=40 1x, https://avatars3.githubusercontent.com/{{ author.github }}?v=3&amp;s=80 2x, https://avatars3.githubusercontent.com/{{ author.github }}?v=3&amp;s=120 3x, https://avatars3.githubusercontent.com/{{ author.github }}?v=3&amp;s=160 4x" width="40" height="40" /> &nbsp;  
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
                <a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
            </span>
        </span>
    {% endif %}
{% endfor %}
