
<ul class="post-list" style="max-width: 610px;">
  {%- for post in site.posts offset:4 limit:1 -%} 
  <li class="bomb-featured">
    <div class="bomb-img">
      {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
      {%- assign date_format = site.minima.date_format | default: "%-m/%-d/%Y" -%}
    </div>
    <div class="bomb-text">
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3> 
      <!-- <p>{{ post.excerpt | truncate: 140 | strip_html }} </p> -->
    </div>
  </li>
  {%- endfor -%}
  {%- for post in site.posts offset:5 limit:1 -%}
  <li class="bomb-featured-small">
    <div class="bomb-img">
      {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
      {%- assign date_format = site.minima.date_format | default: "%-m/%-d/%Y" -%}
    </div>
    <div class="bomb-text">
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <p>{{ post.excerpt | truncate: 40 | strip_html }} </p>
    </div>
  </li>
  {%- endfor -%}
</ul>

