
<h1 class="archives-header newsletter-header left">
  Newsletter <span></span>
  <div style="text-align:right !important; color: white;" class="right">
    {% octicon megaphone height:24 class:"right" aria-label:hi %}
  </div>
</h1>
<form class="newsletter" action="https://tinyletter.com/tblobaum" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tblobaum', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p>
    <!-- <img width="300" src="/assets/images/newsletter.png" alt="Newsletter" /> -->
    <label for="tlemail" style="color: #eee;">
    </label>
  </p>
  <p>
    <input type="text" name="email" id="tlemail" placeholder="adam@baum.com" />
  </p>
  <input type="hidden" value="1" name="embed"/>
  <button class="btn btn-primary w75" type="submit" value="Subscribe">
    {% octicon mail height:16 class:"icon-white" aria-label: %} &nbsp; Subscribe
  </button>
</form>
