---
layout: default
title: Archive
---

<div class="w50 left">
    <h1 class="archives-header">{{ page.tag }} <span>Posts</span></h1>
    <ul class="post-list posts archives box">
        {% for post in site.posts %}
            {% if post.tags contains page.tag or post.tag == page.tag %}
                {% include postbox.html %}
            {% endif %} 
        {% endfor %}
    </ul>
</div>

<div class="w50 left">
  <div class="w50 right">
    {%- include newsletter-subscribe.html -%}
  </div>
</div>