---
layout: none
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
  a { text-decoration: none; color: #111; }
  a:hover { color: #444;  }
  body, p, h1, h2, h3, h4, h5, h6 {
    margin:0;padding:0;
    font: 400 16px/1.5 "PT Sans", Roboto, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
  }
  a { font-weight: 900; } 
  p { padding-bottom: 15px; }
  h1 { font-size: 36px; font-weight: 900; } 
  h2 { font-size: 32px; font-weight: 900; }
  h3 { font-size: 28px; font-weight: 900; }
  h4 { font-size: 24px; font-weight: 900; }
  h5 { font-size: 18px; font-weight: 900; }
  h6 { font-size: 14px; font-weight: 900; } 
  .post-meta { font-size: 14px; color: #828282; }
  /* table, tr, td, img, p { border-radius: 6px; } */
  img { border-radius: 6px; } 
  
  /**
  * @tab Body
  * @section button style
  * @tip Set the styling for your email's button. Choose a style that draws attention.
  */
  .templateButton{
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    /*@editable*/ background-color:#0e0e0e;
    /*@editable*/ border:0;
    border-collapse:separate !important;
    border-radius:6px;
    margin:auto;
  }
  
  /**
  * @tab Body
  * @section button style
  * @tip Set the styling for your email's button. Choose a style that draws attention.
  */
  .templateButton, .templateButton a:link, .templateButton a:visited, /* Yahoo! Mail Override */ .templateButton a .yshortcuts /* Yahoo! Mail Override */{
    /*@editable*/ color:#FFFFFF;
    /*@editable*/ font-family:Arial;
    /*@editable*/ font-size:15px;
    /*@editable*/ font-weight:bold; 
    /*@editable*/ line-height:100%;
    text-align:center;
    text-decoration:none;
  }
  </style>
</head>
  <body>
    
   {% for post in site.posts limit:1 %}
    <table border="0" bgcolor="#0e0e0e" cellpadding="0" cellspacing="0" height="100%" id="bodytable" style="width: 100%; height: 100%; margin: 0px; padding: 10px 0; min-width: 320px; max-width:640px;" width="100%">
      <tr>
        <td align="center" style="background-color: #ddd; vertical-align: top;" valign="top">
          <p><em>This newsletter starts with a rehash of a post published on <a href="{{ site.url }}{{ post.url }}" target="_blank" rel="noopener">{{ site.title }}</a> website.</em></p>
          <table style="width: 100%; margin: 0px; padding: 0px 4px 0px 4px; min-width: 320px; color: #45474A; line-height: 32px;" width="100%">

            <tr>
              <td align="center" valign="top">
                    <!-- // Begin Template Body \\ -->
                  <table bgcolor="#f5f5f5" border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                    <tr>
                          <td valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0px;margin:0px;border:0px;">
                                <tr>
                                  <td style="padding:0px;margin:0px;border:0px;">
                                  <center>
                                  <p style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;background: #0e0e0e; margin: 0px 0; padding: 25px;"> 
                                    <a href="{{ site.url }}">
                                      <img src="{{ site.url }}{{ site.logo }}" alt="{{ site.title | escape }}" style="width:350px; min-width:150px; max-width: 350px;border:0px; box-shadow: none !important;" width="350" />
                                    </a>
                                  </p>
                                  </center>
                                  </td>
                                  </tr>
                                  {%- for post in site.posts offset:0 limit:1 -%}
                                  <tr>
                                      <td valign="top" class="bodyContent">
                                            <!-- // Begin Module: Standard Content \\ -->
                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">

                                                <tr>
                                                    <td valign="top">
                                                  <div mc:edit="std_content00">

                                                    {% if post.featured-image %}
                                                    <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="width: 275px; max-width: 275px; float: left;max-width:275px;margin:20px;" width="275" mc:label="image" mc:edit="tiwc200_image00"/>
                                                    {% endif %}
                                                    <span class="post-meta">{{ site.time | date: '%b %-d, %Y' }}</span>
                                                    <h1 class="h1" style="margin:0;padding:0;"><a class="post-link" href="{{ site.url }}{{ post.url | relative_url }}" style="color: #111 !important;">{{ post.title | escape }}</a></h1>
                                                      <p>{{ post.excerpt | truncate: 1024 }}</p>
                                                    </div>
                                                    </td>
                                                </tr>
                                            <!-- // End Module: Standard Content \\ -->
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td align="center" valign="top" style="padding-top:0;">
                                          <table border="0" cellpadding="15" width="50%" cellspacing="0" class="templateButton" style="-moz-border-radius:6px;-webkit-border-radius:6px; background-color:#0e0e0e; border:0; border-collapse:separate !important; border-radius:6px; margin:auto; text-align:center;">
                                              <tr>
                                                  <td valign="middle" class="templateButtonContent">
                                                      <div mc:edit="std_content01">
                                                          <a href="{{ site.url }}{{ post.url | relative_url }}" style="color: white; color:#FFFFFF; font-family:Arial; font-size:15px; font-weight:bold; line-height:100%; text-align:center;text-decoration:none;" target="_blank">Continue reading</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                    {%- endfor -%}
                                    <tr>
                                      <td valign="top">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                              <tr>
                                                {%- for post in site.posts offset:1 limit:2 -%}
                                                  <td valign="top" width="50%" class="leftMidColumnContent">
                                                    <!-- // Begin Module: Top Image with Content \\ -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                      <tr mc:repeatable>
                                                          <td valign="top">

                                                              {% if post.featured-image %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="margin:10px 0; width: 170px; max-width: 170px; " width="170" mc:label="image" mc:edit="tiwc200_image00"/> 
                                                              
                                                              {% else %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/logo-w-dark.png" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00" />
                                                              {% endif %}
                                                              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                                              <p class="post-meta">{{ post.date | date: date_format }}</p>
                                                                <div mc:edit="tiwc200_content00">
                                                              <a class="post-link" href="{{ site.url }}{{ post.url | relative_url }}"><h4 style="color: #111 !important;" class="h4">{{ post.title | escape }}</h4> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // End Module: Top Image with Content \\ -->
                                                  </td>
                                                {%- endfor -%}
                                              </tr>


                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                              <tr>
                                                {%- for post in site.posts offset:3 limit:1 -%}
                                                  <td valign="top" width="100%" class="leftMidColumnContent">
                                                    <!-- // Begin Module: Top Image with Content \\ -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                      <tr mc:repeatable>
                                                          <td valign="top">

                                                              {% if post.featured-image %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="margin:10px 0;  width: 340px; max-width: 340px; " width="340" mc:label="image" mc:edit="tiwc200_image00"/> 
                                                              
                                                              {% else %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/logo-w-dark.png" style="margin:10px 0;  width: 340px; max-width: 340px;" width="340" mc:label="image" mc:edit="tiwc200_image00" />
                                                              {% endif %}
                                                              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                                              <p class="post-meta">{{ post.date | date: date_format }}</p>
                                                                <div mc:edit="tiwc200_content00">
                                                              <a class="post-link" href="{{ site.url }}{{ post.url | relative_url }}"><h4 style="color: #111 !important;" class="h4">{{ post.title | escape }}</h4> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // End Module: Top Image with Content \\ -->
                                                  </td>
                                                {%- endfor -%}
                                              </tr>

                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                              <tr>
                                                {%- for post in site.posts offset:4 limit:2 -%}
                                                  <td valign="top" width="50%" class="leftMidColumnContent">
                                                    <!-- // Begin Module: Top Image with Content \\ -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                      <tr mc:repeatable>
                                                          <td valign="top">

                                                              {% if post.featured-image %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00"/> 
                                                              
                                                              {% else %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/logo-w-dark.png" style="margin:10px 0;  width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00" />
                                                              {% endif %}
                                                              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                                              <p class="post-meta">{{ post.date | date: date_format }}</p>
                                                                <div mc:edit="tiwc200_content00">
                                                              <a style="color: #111;" class="post-link" href="{{ site.url }}{{ post.url | relative_url }}"><h4 style="color: #111 !important;" class="h4">{{ post.title | escape }}</h4> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // End Module: Top Image with Content \\ -->
                                                  </td>
                                                {%- endfor -%}
                                              </tr>


                                              <tr>
                                                {%- for post in site.posts offset:6 limit:2 -%}
                                                  <td valign="top" width="50%" class="leftMidColumnContent">
                                                    <!-- // Begin Module: Top Image with Content \\ -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                      <tr mc:repeatable>
                                                          <td valign="top">

                                                              {% if post.featured-image %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00"/> 
                                                              
                                                              {% else %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/logo-w-dark.png" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00" />
                                                              {% endif %}
                                                              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                                              <p class="post-meta">{{ post.date | date: date_format }}</p>
                                                                <div mc:edit="tiwc200_content00">
                                                              <a class="post-link" href="{{ site.url }}{{ post.url | relative_url }}" style="color: #111;"><h4 style="color: #111 !important;" class="h4">{{ post.title | escape }}</h4> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // End Module: Top Image with Content \\ -->
                                                  </td>
                                                {%- endfor -%}
                                              </tr>


                                              <tr>
                                                {%- for post in site.posts offset:8 limit:2 -%}
                                                  <td valign="top" width="50%" class="leftMidColumnContent">
                                                    <!-- // Begin Module: Top Image with Content \\ -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                      <tr mc:repeatable>
                                                          <td valign="top">

                                                              {% if post.featured-image %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/{{ post.featured-image }}" alt="{{ post.alt | default: '' }}" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00"/> 
                                                              
                                                              {% else %}
                                                              <img class="feat-img" src="{{ site.url }}/assets/images/logo-w-dark.png" style="margin:10px 0; width: 170px; max-width: 170px;" width="170" mc:label="image" mc:edit="tiwc200_image00" />
                                                              {% endif %}
                                                              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                                                              <p class="post-meta">{{ post.date | date: date_format }}</p>
                                                                <div mc:edit="tiwc200_content00">
                                                              <a class="post-link" href="{{ site.url }}{{ post.url | relative_url }}" style="color: #111;"><h4 style="color: #111 !important;" class="h4">{{ post.title | escape }}</h4> </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // End Module: Top Image with Content \\ -->
                                                  </td>
                                                {%- endfor -%}
                                              </tr>
                                            
                                            </table>
                                        </td>
                                    </tr>




                                </table>
                              </td>
                          </tr>
 

                          <tr><td>
                            <br />

                          </td></tr>

         </table>
        </td>
      </tr>

      <tr>
        <td align="center" valign="top">
              <!-- // Begin Template Footer \\ -->
            <table bgcolor="" border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                <tr>
                    <td valign="top" class="footerContent">
                          <!-- // Begin Module: Transactional Footer \\ -->
                          <table border="0" cellpadding="10" cellspacing="0" width="100%">
                              <tr>
                                  <td valign="top">
                                      <div mc:edit="std_footer">
                                        <em>Copyright &copy; {{ site.time | date: '%Y' }} {{ site.title }}, All rights reserved.</em>
                                        <br />
                                        <strong>Our mailing address is:</strong>
                                        <br />
                                        {{ site.address }}
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td valign="middle" id="utility">
                                      <div mc:edit="std_utility">
                                          &nbsp;<a href="{{ site.url }}/newsletter" target="_blank">view this in your browser</a> | <a href="{{ site.url }}">unsubscribe from this list</a> | <a href="{{ site.url }}">update subscription preferences</a>&nbsp;
                                      </div>
                                  </td>
                              </tr>
                          </table>
                          <!-- // End Module: Transactional Footer \\ -->
                      </td>
                  </tr>
              </table>
              <!-- // End Template Footer \\ -->
          </td>
      </tr>

      

    </table>
  {% endfor %}

  <img src="https://www.google-analytics.com/collect?v=1&tid={{site.google_analytics}}&cid=555&aip=1&t=event&ec=email&ea=open&dp=%2Femail%2Fnewsletter&dt=Newsletter">

  </body>
</html>
