---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <ul class="page-navigation">
    <li><a href="/">Planet Naboo</a></li>
    <li><a href="/">Darth Vader</a></li>
    <li><a href="/">Padme Amidala</a></li>
    <li><a href="/">Senator Palpatine</a></li>
    <li><a href="/">Han Solo</a></li>
    <li><a href="/">Leia Organa</a></li>
    <li><a href="/">Luke Skywalker</a></li>
    <li><a href="/">Rey</a></li>
    <li><a href="/">Kylo Ren</a></li>
    <li><a href="/">BB-8</a></li>
    <li><a href="/">Poe Domeron</a></li>
    <li><a href="/">Darth Maul</a></li>
  </ul>

  <div class="post-content">
    {{ content }}
  </div>
  

  <form action="{{ site.github.repository_url }}/edit/{{ site.github.source.branch }}{{ site.github.source.path }}/{{ page.path }}">
    <button class="btn btn-secondary right" type="submit" style="line-height:16px;">{% octicon tools height:16 class:"right left" aria-label:hi %} &nbsp; Suggest a correction</button>
  </form>

</article>
